{{#each @posts}}
  <article class="post">
    <header class="post-header">
      <h2 class="post-title"><a href="{{fullpath path}}">{{title}}</a></h2>
    </header>
    <section class="post-excerpt">
      <p>{{excerpt content}} <a class="read-more" href="{{fullpath path}}">&raquo;</a></p>
    </section>
    <footer class="post-meta">
      {{author}}
      <time class="post-date" datetime="{{datetime date 'YYYY-MM-DD'}}">{{datetime date 'DD MMM YYYY'}}</time>
    </footer>
  </article>
{{/each}}
