<div class="extra-pagination inner">
  {{> pagination}}
</div>

{{#range @posts @paginator.begin @paginator.end}}
  <article class="post">
    <header class="post-header">
      <h2 class="post-title"><a href="{{fullpath path}}">{{title}}</a></h2>
    </header>
    <section class="post-excerpt">
      <p>{{excerpt content}} <a class="read-more" href="{{fullpath path}}">&raquo;</a></p>
    </section>
    <footer class="post-meta">
      {{author}}
      {{#if tags}}on {{taglinks tags}}{{/if}}
      <time class="post-date" datetime="{{datetime date 'YYYY-MM-DD'}}">{{datetime date 'DD MMMM YYYY'}}</time>
    </footer>
  </article>
{{/range}}

{{> pagination}}
