<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{#if @current.title}}{{@current.title}}{{else}}{{@site.title}}{{/if}}</title>
    <meta name="description" content="{{#if @current.description}}{{excerpt @current.description}}{{else}}{{@site.description}}{{/if}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{fullpath '/assets/images/favicon.ico'}}" />

    <link rel="stylesheet" type="text/css" href="{{fullpath '/assets/css/screen.css'}}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />

    <meta name="generator" content="Blogware v{{@blogware.version}}" />
    <link rel="alternate" type="application/rss+xml" title="{{@site.title}}" href="{{permalink '/rss/'}}" />
  </head>
  <body class="{{#block "body_class"}}{{#if @paged}}paged archive-template{{else}}home-template{{/if}}{{/block}} nav-closed">

    {{> navigation}}

    <div class="site-wrapper">

      {{content}}

      <footer class="site-footer clearfix">
        <section class="copyright"><a href="{{permalink '/'}}">{{@site.title}}</a> &copy: {{datetime null 'YYYY'}}</section>
        <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
      </footer>

    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

    <script type="text/javascript" src="{{fullpath '/assets/js/jquery.fitvids.js'}}"></script>
    <script type="text/javascript" src="{{fullpath '/assets/js/index.js'}}"></script>

  </body>
</html>
