---
layout: default
---

{{#extend "body_class"}}post-template{{/extend}}

<header class="main-header post-head {{#if @current.image}}" style="background-image: url({{@current.image}}){{else}}no-cover{{/if}}">
  <nav class="main-nav {{#if @current.image}}overlay{{/if}} clearfix">
    {{#if @site.logo}}<a class="blog-logo" href="{{fullpath '/'}}"><img src="{{fullpath @site.logo}}" alt="{{@site.title}}" /></a>{{/if}}
    {{#if @site.navigation}}
      <a class="menu-button icon-menu" href="#"><span clas="word">Menu</span></a>
    {{/if}}
  </nav>
</header>

<main class="content" role="main">
  <article class="post">
    <header class="post-header">
      <h1 class="post-title">{{@current.title}}</h1>
      <section class="post-meta">
        <time class="post-date" datetime="{{datetime @current.date 'YYYY-MM-DD'}}">{{datetime @current.date 'DD MMMM YYYY'}}</time>
      </section>
    </header>

    <section class="post-content">
      {{content}}
    </section>

    <footer class="post-footer">

      <section class="author">
        <h4><a href="{{fullpath @current.path}}">{{@current.author}}</a></h4>
      </section>

    </footer>

  </article>
</main>
